.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    color: white;
    align-items: center;
    gap: 1.5%;
}
.header-text-links {
    cursor: pointer;
    transition: text-decoration 2s;
}
.header-text-links:hover{
    text-decoration: underline;
}
.header-far-right {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    cursor: pointer;
    align-items: center;
}
.header-far-right:hover {
    text-decoration: underline;
}
.menu-icon {
    height: 20px;
    margin-left: 80%;
    margin-top: 15%;
}